<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.hul.shikhar.rssm1"
    platformBuildVersionCode="34"
    platformBuildVersionName="14"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="Manifest.permission.READ_PHONE_STATE" />
    <!-- This app can read all SMS (text) messages stored on your phone. -->
    <uses-permission
        android:name="android.permission.READ_SMS" />
    <!-- Allows the app to access the phone numbers of the device. -->
    <uses-permission
        android:name="android.permission.READ_PHONE_NUMBERS" />
    <!-- Allows the app to modify your phone's call log, including data about incoming and outgoing calls. Malicious apps may use this to erase or modify your call log. -->
    <uses-permission
        android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission
        android:name="android.permission.READ_LOGS" />
    <uses-feature
        android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus" />
    <!-- Allows the app to read data about your contacts stored on your phone. Apps will also have access to the accounts on your phone that have created contacts. This may include any accounts created by apps that you have installed. This permission allows any apps to save your contact data, and malicious apps may share contact data without your knowledge. -->
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    <!-- This app can get your precise location from Location Services while the app is in use. Location Services for your device must be turned on for the app to get location. This may increase battery usage. -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- This app can get your approximate location from Location Services while the app is in use. Location Services for your device must be turned on for the app to get location. -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- This app can access location at any time, even while the app is not in use. -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Allows the app to create network sockets and use customised network protocols. The browser and other applications provide means to send data to the Internet, so this permission is not required to send data to the Internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to prevent the phone from going to sleep. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <!-- Allows the app to read locations from your media collection. -->
    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- Allows the app to read the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Allows the app to write the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- This app can take pictures and record videos using the camera while the app is in use. -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <!-- This app can record audio using the microphone while the app is in use. -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <!-- This app can appear on top of other apps or other parts of the screen. This may interfere with normal app usage and change the way that other apps appear. -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Allows the app to call phone numbers without your intervention. This may result in unexpected charges or calls. Note that this doesn't allow the app to call emergency numbers. Malicious apps may cost you money by making calls without your confirmation, or dial carrier codes which cause incoming calls to be automatically forwarded to another number. -->
    <uses-permission
        android:name="android.permission.CALL_PHONE" />
    <!-- This app can read your call history. -->
    <uses-permission
        android:name="android.permission.READ_CALL_LOG" />
    <!-- Allows a publisher app to access a valid advertising ID directly or indirectly. -->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES" />
    <!-- Allows an application to request installation of packages. -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Allows the app to modify global audio settings such as volume and which speaker is used for output. -->
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Allows an app to see all installed packages. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Allows the app to advertise, connect and determine the relative position of nearby Wi‑Fi devices -->
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation" />
    <!-- Allows the app to show notifications -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Allows the app to read image files from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />
    <!-- Allows the app to read video files from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33" />
    <!-- Allows the app to read audio files from your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33" />
    <!-- Allows the app to view the configuration of the Bluetooth on the phone and to make and accept connections with paired devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <!-- Allows the app to configure the local Bluetooth phone and to discover and pair with remote devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Allows the app to connect to paired Bluetooth devices -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- Allows the app to discover and pair nearby Bluetooth devices -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-feature
        android:name="android.hardware.MICROPHONE"
        android:required="false" />
    <uses-feature
        android:name="android.webkit.resource.VIDEO_CAPTURE"
        android:required="false" />
    <uses-feature
        android:name="android.webkit.resource.AUDIO_CAPTURE"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <queries>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.DEFAULT" />
            <data
                android:scheme="upi"
                android:host="pay" />
        </intent>
        <intent>
            <action
                android:name="androidx.camera.extensions.action.VENDOR_ACTION" />
        </intent>
        <package
            android:name="com.google.android.apps.maps" />
    </queries>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <!-- Allows the app to have itself started as soon as the system has finished booting. This can make it take longer to start the phone and allow the app to slow down the overall phone by always running. -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Allows the app to make use of foreground services. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <!-- Allows apps to accept cloud-to-device messages sent by the app's service. Using this service will incur data usage. Malicious apps could cause excess data usage. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Allows the app to retrieve its install referrer information. -->
    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <permission
        android:name="com.hul.shikhar.rssm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.hul.shikhar.rssm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.hul.sambhav.SambhavApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outlettask.route.ShaktiSikshaVideoActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.ui.mtpc.StoreStatusMTPCActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.ui.mtpc.VisitorDetailsMTPCActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.primestores.PrimeBeatActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outlettask.DependentSurveyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.mtpc.MTPCActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.reports.ReportsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.mybeat.ChildPartyActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.visitordetails.VisitorDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.home.SimpleCameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.home.SimpleCameraActivityFront"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.iteams.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.attendancetask.AttendanceSlotTaskActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.attendancetask.AttendanceSlotTaskActivityNew"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outlettask.SurveyImageFullScreenActivity" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.home.GamifyActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outlettask.route.ShaktiTrainingAppIntegration" />
        <activity
            android:theme="@style/Theme.iam"
            android:name="com.hul.sambhav.fcm.InAppMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.ServerDownActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.iteams.ITeamsWebActivity"
            android:exported="false" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.newstorecreation.CustomCameraActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.AppPermissionsActivity"
            android:exported="false"
            android:requestLegacyExternalStorage="true" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.AppPermissionsActivityTiramisu"
            android:exported="false"
            android:requestLegacyExternalStorage="true" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.notifications.FullScreenNotificationImage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outletinfo.IAActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.mybeat.FrontCameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outletinfo.OutletInformationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outletinfo.ShowCameraImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.outletinfo.ShowFullImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.mybeat.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.trainingresource.VideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.trainingresource.TrainingResourceItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.newstorecreation.NewOutletListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.pendingpayments.PendingPaymentsWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.TermsNConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.CreatePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.login.SalesmanLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppTheme"
            android:name="com.hul.sambhav.salesJourney.ui.login.SalesMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <provider
            android:name="com.hul.sambhav.util.GenericFileProvider"
            android:exported="false"
            android:authorities="com.hul.shikhar.rssm.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.hul.shikhar.rssm.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.hul.sambhav.ui.video.VideoFullScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="com.hul.sambhav.ui.login.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hul.sambhav.ui.login.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.login.TermsConditionsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.login.PrivacyPolicyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppTheme"
            android:name="com.hul.sambhav.ui.login.RetailerHomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="hul.page.link"
                    android:pathPrefix="/typeid" />
                <data
                    android:scheme="https"
                    android:host="shikhar.page.link"
                    android:pathPrefix="/typeid" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hul.sambhav.ui.payment.InvoiceHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.fcm.FullScreenVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.fcm.FullScreenVideoActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.payment.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.payment.PaymentSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.login.OutletRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.ui.login.GenericWebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/Permissions.TransparentTheme"
            android:name="com.hul.sambhav.util.permission.PermissionsActivity" />
        <activity
            android:name="com.hul.sambhav.ui.login.ZoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.counterfeit.AddCounterfeitProduct"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <receiver
            android:name="com.hul.sambhav.io.NotificationActionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.hul.sambhav.io.ImageUploadStatusReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.hul.sambhav.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="com.webengage.sdk.android.environment"
            android:value="us" />
        <service
            android:name="com.hul.sambhav.ui.sos.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:label="NetworkChangeReceiver"
            android:name="com.hul.sambhav.io.ConnectionReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action
                    android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.rsp.RSPDbtAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hul.sambhav.salesJourney.ui.rsp.RspNewOutletDBTActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <receiver
            android:label="TimeChangedReceiver"
            android:name="com.hul.sambhav.salesJourney.ui.outlettask.route.TimeChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.hul.shikhar.rssm.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BATTERY_OKAY" />
                <action
                    android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.TIME_SET" />
                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <uses-library
            android:name="androidx.camera.extensions.impl"
            android:required="false" />
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider" />
        </service>
        <provider
            android:name="com.google.firebase.perf.provider.FirebasePerfProvider"
            android:exported="false"
            android:authorities="com.hul.shikhar.rssm.firebaseperfprovider"
            android:initOrder="101" />
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ml.vision.VisionRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ml.common.CommonComponentRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter
                android:priority="-500">
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="com.hul.shikhar.rssm.com.squareup.picasso" />
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true" />
        <activity
            android:theme="@style/zxing_CaptureTheme"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true" />
        <service
            android:name="com.webengage.sdk.android.ExecutorService" />
        <service
            android:name="com.webengage.sdk.android.EventLogService" />
        <service
            android:name="com.webengage.sdk.android.NotificationClickHandlerService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.webengage.sdk.android.intent.ACTION" />
                <category
                    android:name="com.hul.shikhar.rssm" />
            </intent-filter>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.webengage.sdk.android.actions.render.WebEngageActivity"
            android:configChanges="orientation|screenSize" />
        <receiver
            android:name="com.webengage.sdk.android.WebEngageReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="com.webengage.sdk.android.intent.ACTION" />
                <category
                    android:name="com.hul.shikhar.rssm" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.webengage.sdk.android.WebEngageJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="com.webengage.sdk.android.WETransparentActivity"
            android:enabled="true"
            android:excludeFromRecents="true" />
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.hul.shikhar.rssm.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct" />
        </service>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false" />
    </application>
</manifest>